{% extends "app/base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}
    <div class="carousel slide home-box">
        <h1>Code testbed</h1>
        <p>
            You can interact with mini program which has been created to make our work and life more effectively.
            A console type window will be presented as standard input/output entry to all programs.
            So it's easier for the team to manage the growing code.
        </p>
        <p>
            We will also make code description clear, so you'll know the logic behind the code. In regardless of
            coding
            language, program is read by human, only processed by machine.We are actively adding new mini programs
            that
            could benefit more people.You can also send in specific inquiry via the "ask" .
            </br>Tutorial:
        </p>
        <p>
            Use start/stop/restart to manage the session.
            User your input box to interact with program. Input the relevant value and press "enter" to process most
            of
            the program
            Submit your feedback from submission window
        </p>
    </div>
{% endblock %}